 /* //--------------------header----------------------- */
 header {
    height: 100px;
    width: 100%;
}

header a {
    position: absolute;
    background-color: rgb(252, 127, 200);
    left: 10%;
    top: 5%;
}

/*//------grid// */
header grid {
    display: grid;
    grid-template-columns: 40% auto auto auto;
	 justify-items: stretch;
  align-items: stretch;

}

items1 {
    background-color: aqua;
    height: 100px;
}

items2 {
    background-color: brown;
    height: 100px;
}

items3 {
    background-color: rgb(0, 245, 41);
    height: 100px;
}

items4 {
    background-color: rgb(4, 0, 248);
    height: 100px;
}


/* //------------------article------------------- */
article {
    background-color: red;
    height: 400px;
    left: 50%;
}

/* //------------------footer------------------- */
footer {
    background-color: rgb(162, 221, 0);
    height: 200px;
}