@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

html {
  scroll-behavior: smooth;
}
*::selection {
  background-color: #202020a2;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Share Tech", sans-serif;
}
/*//---------BACKGROUND--IMAGE-BING--------------// */
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#InputB {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
/*//------------------------// */

/*//---------GRID---------------// */
grid {
  position: absolute;
  display: grid;
  grid-template-columns: 100px 300px auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0.52);
  height: 61px;
  border-radius: 0px 0px 20px 0px;
  min-width: auto;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
/*//------------------------// */

/* ----------------------------grid item 1 Start boutton ------------------------------------*/

/* items1 {
} */

.menu-icon {
  position: fixed;
  z-index: 2;
  left: 10px;
  top: 9px;
}


span {
  display: inline-block;
  height: 22px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.286);
  transition: 0.5s;
  padding-top: 13px;
  padding-bottom: 8px;
  padding-left: 25px;
  padding-right: 20px;
  border-radius: 25px;
  user-select: none;
}

/*  Menu Hover */
span:hover,
span:hover::after,
span:hover::before {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.66);
}

span:active{
  background-color: rgba(134, 134, 134, 0.99);
}

#blur {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.712);
  border-radius: 20px;
}

/* ----------------------------menu favoris ------------------------------------*/
#menu {
  height: 295px;
  width: 250px;
  position: fixed;
  top: 0;
  margin-top: 40px;
  left: -250px;
  z-index: 1;
  color: rgba(255, 255, 255, 0.524);
  text-decoration: none;
  padding-top: 30px;
  transition: 0.25s;
  border-radius: 20px;
  user-select: none;
}

#menu.active {
  left: 10px;
  transition: 0.3s;
  transition: 0.25s;
}

.favoris {
  padding: 6px;
}

a#fav1,
a#fav2,
a#fav3,
a#fav4,
a#fav5,
a#fav6,
a#fav7 {
  position: absolute;
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  margin-top: 2px;
}

#menu a:hover {
  color: white;
  background-color: rgba(99, 99, 99, 0.713);
}

img#icon1,
img#icon2,
img#icon3,
img#icon4,
img#icon5,
img#icon6,
img#icon7 {
  padding-right: 15px;
  margin-left: 10px;
  margin-top: 5px;
  height: 18px;
  width: 18px;
}

/*//------------------------// */
/* ----------------------------grid item 2 google search ------------------------------------*/

items2 {
  padding-left: 5px;
}

.SearchBtn {
  position:fixed;
  color: rgba(255, 255, 255, 0.524);
  font-weight: 600;
  margin-left: -4px;
  background-color: rgba(0, 0, 0, 0.286);
  height: 41px;
  width: 80px;
  border-radius: 0px 20px 20px 0px;
  border: 0px solid;
}

.SearchBtn:hover {
  transition: 0.25s;
  background-color: rgba(0, 0, 0, 0.66);
  color: rgb(255, 255, 255);
}

.SearchBtn:active{
  background-color: rgba(134, 134, 134, 0.99);
}

#form {
  padding-left: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#query {
  margin-left: 3px;
  border: 0px solid;
  height: 40px;
  border-radius: 20px 0px 0px 20px;
  padding: 10px;
  background-color: rgba(99, 99, 99, 0.461);
}
#query:hover {
  background-color: rgba(99, 99, 99, 0.713);
}


#query:focus {
  border: none;
  outline: none;
}

/*//------------------------// */

/* ----------------------------grid item 3 bitcoin display none par default----------------------------*/

items3 {
  display: none;
  width: 110px;
  margin-top: 4px;
  padding-left: 5px;

  /* background-color: #3476ce; */
}

items3.active {
  display: block;
  margin-top: 4px;
  padding-left: 5px;

  /* background-color: #3476ce; */
}

#btc {
  margin: 10px;
  background-image: url(./img/Bitcoin.svg.png);
  height: 32px;
  width: 32px;
}

/* BTC Price */
#textInputB {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  margin-left: 40px;
  margin-top: 7px;
}
/* ----------------------------grid item 4 option boutton------------------------------------*/

items4 {
  margin-top: 4px;
  padding-left: 5px;
  /* background-color: #34ce8b;  */
}

/* Icone menu Option */

.option-icon {
  height: 21px;
  width: 40px;
  margin-right: 10px;
  background-color: rgba(22, 22, 22, 0.328);
  border-radius: 20px;
}

.option-icon:hover {
  background-color: rgba(22, 22, 22, 0.891);
}

.option-icon:active {
  background-color: rgba(134, 134, 134, 0.99);
}

.option-icon i {
  margin-left: 5px;
  margin-bottom: 5px;
  user-select: none;
  color: rgba(255, 255, 255, 0.52);
  font-size: 0.6em;
}

.option-icon:hover i {
  color: rgb(255, 255, 255);
}



/* ----------------------------menu option------------------------------------*/
#option-menu {
  position: fixed;
  z-index: 1;
  padding: 20px;
  margin-top: -100%;
   /* margin-top: 15%; */
  margin-left: 20%;
  background-color: rgba(0, 0, 0, 0.737);
  height: 240px;
  width: 250px;
  border-radius: 20px;
  transition: 0.25s;
  user-select: none;
}

#option-menu p {
  color: white;
  margin-left: 20px;
  margin: 10px;
  text-align: center;
}

#option-menu p:nth-child(1){
  margin-left: -10px;
}

/* menu activé par le js */
#option-menu.active {
  margin-top: 15%;
  transition: 0.5s;
  height: 350px;
}

#link-option a {
  color: rgb(0, 153, 255);
  text-decoration: none;
}

/* Selecteur background */
#quantity {
  text-align: center;
  margin-left: 5px;
  position: fixed;
  width: 35px;
  outline: none;
  background-color: rgba(134, 134, 134, 0.99);
  border: none;
  padding: 3px;
  border-radius:20px;
}

li{
  padding:1px;
  color: white;
 padding-left:10px; 

} 

li input{
  background-color: rgba(134, 134, 134, 0.99);
  text-align: center;
  border: none;
  outline: none;
  border-radius:20px;
}

.setfav{
  color: white;
  background-color: rgba(134, 134, 134, 0.559);
  border: none;
  margin-left: 70px;
  border-radius: 20px;
}

.setfav:active{
  background-color: rgba(134, 134, 134, 0.99);
}


/* ---------------RESPONSIVE---------------------------- */
@media screen and (max-width: 768px) {
  #option-menu {
    margin-left: -200px;
  }

  #option-menu.active {
    margin-top: 15%;
    transition: 0.5s;
  }
  items3.active  {
    display: none;
  }
}
